# Home Assistant core
aiohttp==3.5.4
astral==1.10.1
async_timeout==3.0.1
attrs==19.1.0
bcrypt==3.1.6
certifi>=2018.04.16
importlib-metadata==0.15
jinja2>=2.10
PyJWT==2.4.0
cryptography==2.6.1
pip>=8.0.3
python-slugify==3.0.2
pytz>=2019.01
pyyaml>=3.13,<4
requests==2.22.0
ruamel.yaml==0.15.94
voluptuous==0.11.5
voluptuous-serialize==2.1.0
typing>=3,<4
yarl
chardet
mysqlclient
psycopg2
uvloop
cchardet
cython


# homeassistant.components.recorder
# homeassistant.components.sql
sqlalchemy==1.3.3


# homeassistant.components.frontend
home-assistant-frontend==20190523.0


# homeassistant.components.frontend
user-agents==1.1.0


# homeassistant.components.bluesound
# homeassistant.components.startca
# homeassistant.components.ted5000
# homeassistant.components.yr
# homeassistant.components.zestimate
xmltodict==0.12.0

# homeassistant.components.discovery
netdisco==2.6.0


# homeassistant.components.homekit
HAP-python==2.5.0

# homeassistant.components.homekit_controller
homekit[IP]==0.14.0

# homeassistant.components.apple_tv
pyatv==0.3.12

# homeassistant.components.nest
python-nest==4.1.0

# homeassistant.components.wemo
pywemo==0.4.34

# homeassistant.components.darksky
python-forecastio==1.4.0

# homeassistant.components.influxdb
influxdb==5.2.0
